@{
    ViewBag.Title = "About Us";
}

@section AdditionalMeta
{
    <title>About Us | InStep Technologies </title>
    <meta name="title" content="About Us | InStep Technologies" />
    <meta name="keywords" content="SAP HANA, AngularJS, KnockOutJS, d3JS, ExpressJS, Oracle,.NET, MVC, WCF, Web API, Corporate Training, MS SQL Server, MongoDB, MySQL, Classic ASP, Entity Framework, CouchBase" />
    <meta name="description" content="InStep Technolgies is always looking to push challenging conventions and creative boundaries. Our love for technology can be summed up with one word – “passion”. We take pride in successfully developing softwares and business applications that facilitate better management of data, automate processes and allow your organizations to meet their business objectives."  />
}

<header class="page-header">

    <h1 class="page-title">About Us</h1>

    <hr />

    <p class="page-description">Writing software code is not always supposed to be an enjoyable activity. Yet it is very tiresome activity.So when Chandigarh -based techies decided on building an IT firm and as a result, a philosophy was born which meant that they add “value” to everything they undertake. Not that other software development companies don’t do that, but we do it with a feeling that “every satisfied customer will be a customer forever” – and this saves them a lot of time and energy in generating new business.</p>

</header><!-- end .page-header -->

<div class="one-third">

    <h4>Company</h4>

    <p>InStep Technolgies is always looking to push challenging conventions and creative boundaries. Our love for technology can be summed up with one word – “passion”. We take pride in successfully developing softwares and business applications that facilitate better management of data, automate processes and allow your organizations to meet their business objectives.</p>

</div><!-- end .one-third -->

<div class="one-third">

    <h4>People</h4>

    <p>What really makes a company flourish are its people. We believe that everyone from amateur designer to an expert application software developer can do well creatively, provided they are given an environment to grow. Our project managers are smart enough to allocate the work in a way that everyone learns something new out of it, without compromising the speed of the project. We’re dedicated to building bespoke software and applications that can get into as many hands as possible.</p>

    <p>We are extremely resilient and razor sharp at managing business risks and our financial prudence shows in our annual growth figures. More so, when we started our business in one of the most trying times for the global IT Industry, the 1990's, where every second business went from boom to bust within a span of a decade.</p>

</div><!-- end .one-third -->

<div class="one-third last">

    <h4>We are here as long as you need us</h4>

    <p>We are large enough to be resourceful and small enough to be flexible that makes us one of the most dynamic and adaptable IT services company. Over the years we have managed to remain independent of external investors and investments and have no liabilities or debts to service. And contrary to several large technology companies, our business has been established on rock-solid foundation that ensures longevity and continuity of our services to our stakeholders without interruptions.</p>

   
    
    <p>This tradition is mirrored in our commitments to our clients too. We transform their business by delivering work through greater flexibility, faster time to market, technical excellence, and lower cost and that too, at their doorstep. Our high performance outsourcing strategies help our customer’s grow their business faster, stronger, and achieve sustainable competition beaten differential advantages against their own competition.</p>

</div><!-- end .one-third.last -->