@{
    ViewBag.Title = "Home Page";
}

@section AdditionalMeta
{
    <title itemprop="name">Home | InStep Technologies</title>
    <meta name="title" content="Home | InStep Technologies" />
    <meta name="keywords" content="SAP HANA, AngularJS, KnockOutJS, d3JS, ExpressJS, Oracle,.NET, MVC, WCF, Web API, Corporate Training, MS SQL Server, MongoDB, MySQL, Classic ASP, Entity Framework, CouchBase" />
    <meta name="description" content="We are expert of modern web teachnologies. Keep your business application ready for today and tomorrow. Our Expertise, Modern Web Development, Project Management, Social Media, Rest Management System, InStep Social Connect, Agile, MEAN Stack, Social Media Integration, BigData" />
}

<meta name="description" content="">
<meta name="author" content="">

<h2 class="slogan align-center">
    Step In to build your expectation over our expertise.
</h2>

<section id="features-slider" class="ss-slider">

    <article class="slide">

        <img src="~/img/banners/appDevelop.png" alt="" class="slide-bg-image" />

        <div class="slide-button">
            <span class="dropcap">1</span>
            <h5>Application Development</h5>
            <span class="description">Development & Maintainence</span>
        </div>

        <div class="slide-content">
            <h2>Application Development</h2>
            <p>Our winning team take care of it all from development to maintainance.</p>
            <p><a class="button" href="#">Read More</a></p>
        </div>

    </article><!-- end .slide (Responsive Layout) -->

    <article class="slide">

        <img src="~/img/banners/our-expertise.png" alt="" class="slide-bg-image" />

        <div class="slide-button">
            <span class="dropcap">2</span>
            <h5>Our Expertise </h5>
            <span class="description">For today and tomorrow</span>
        </div>

        <div class="slide-content">
            <h2>Modern Web Development</h2>
            <p>We are expert of modern web teachnologies. Keep your business application ready for today and tomorrow.</p>
            <p><a class="button" href="#">Read More</a></p>
        </div>

    </article><!-- end .slide (HTML5 / CSS3) -->

    <article class="slide">

        <img src="~/img/banners/ProjectManagement.jpg" alt="" class="slide-bg-image" />

        <div class="slide-button">
            <span class="dropcap">3</span>
            <h5>Project Management</h5>
            <span class="description">We manage your projects!</span>
        </div>

        <div class="slide-content">
            <h2>Project Management</h2>
            <p>  We offer our managers for your service, We have wining rock star highly qualified, experienced managers with awsome analytical
             and leadership skill.</p>
            <p><a class="button" href="#">Read More</a></p>
        </div>

    </article><!-- end .slide (Easily Customisable) -->

    <article class="slide">

        <img src="~/img/banners/social-media.png" alt="" class="slide-bg-image" />

        <div class="slide-button">
            <span class="dropcap">4</span>
            <h5>Social Media</h5>
            <span class="description">Be Social with Us</span>
        </div>

        <div class="slide-content">
            <h2>Social Media Management</h2>
            <p>We have our social media optimization team. This team is reponsible for optimize your business application/ websites for social media.</p>
            <p><a class="button" href="#">Read More</a></p>
        </div>

    </article><!-- end .slide (Unique & Clean) -->

</section><!-- end #features-slider -->

<h6 class="section-title">Latest Projects</h6>

<ul class="projects-carousel clearfix">

    <li>
        <a href="#">
            <img src="~/img/projects/RMS.png" alt="">
            <h5 class="title">InStep RMS</h5>
            <span class="categories">Rest Management System</span>
        </a>
    </li>

    <li>
        <a href="#">
            <img src="~/img/projects/SocialConnect.png" alt="">
            <h5 class="title">InStep Social Connect</h5>
            <span class="categories">Social Media Integration</span>
        </a>
    </li>

    <li>
        <a href="#">
            <img src="~/img/projects/ProjectManagement.png" alt="">
            <h5 class="title">Project Management</h5>
            <span class="categories">Agile</span>
        </a>
    </li>

    <li>
        <a href="#">
            <img src="~/img/projects/timetracker.png" alt="">
            <h5 class="title">Time Tracker App</h5>
            <span class="categories">MEAN Stack App</span>
        </a>
    </li>

    <li>
        <a href="#">
            <img src="~/img/projects/RMS.png" alt="">
            <h5 class="title">InStep RMS</h5>
            <span class="categories">Rest Management System</span>
        </a>
    </li>

    <li>
        <a href="#">
            <img src="~/img/projects/SocialConnect.png" alt="">
            <h5 class="title">InStep Social Connect</h5>
            <span class="categories">Social Media Integration</span>
        </a>
    </li>

</ul><!-- end .projects-carousel -->

<h6 class="section-title">Innovative Technologies from lab</h6>

<ul class="post-carousel">

    <li>

        <a href="#">
            <img src="~/img/placeholders/blog-post-1.jpg" alt="" class="entry-image">
        </a>

        <div class="entry-meta">

            <a href="#">
                <span class="post-format">Permalink</span>
            </a>

            <span class="date">Sep 17 2011</span>

        </div><!-- end .entry-meta -->

        <div class="entry-body">

            <a href="#">
                <h5 class="title">Asp.net with mongoDB</h5>
            </a>

            <p>Asp.net can utilize the no sql databses now. MondoDB is one of the best example of this...</p>

        </div><!-- end .entry-body -->

    </li>

    <li>

        <div class="image-gallery-slider">

            <ul>

                <li>
                    <a href="#">
                        <img src="~/img/placeholders/mongodb.jpg" alt="" class="entry-image">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="~/img/placeholders/couchbase.jpg" alt="" class="entry-image">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="~/img/placeholders/saphana.jpg" alt="" class="entry-image">
                    </a>
                </li>
                
            </ul>

        </div><!-- end .image-gallery-slider -->

        <div class="entry-meta">

            <a href="#">
                <span class="post-format gallery">Permalink</span>
            </a>

            <span class="date">Sep 17 2011</span>

        </div><!-- end .entry-meta -->

        <div class="entry-body">

            <a href="#">
                <h5 class="title">Be Ready for BigData</h5>
            </a>

            <p>Speed up your application response time with big data solutions, SAP HANA is an outstanding technology...</p>

        </div><!-- end .entry-body -->

    </li>

    <li>
        <iframe width="220" height="125" src="//www.youtube.com/embed/i9MHigUZKEM" frameborder="0" allowfullscreen></iframe>

        <div class="entry-meta">

            <a href="#">
                <span class="post-format video">Mean Stack</span>
            </a>

            <span class="date">Sep 17 2011</span>

        </div><!-- end .entry-meta -->

        <div class="entry-body">

            <a href="#">
                <h5 class="title">Some Amazing Video of mean stack</h5>
            </a>

            <p>Technology is changed every thing is moving around JS and noSql...</p>

        </div><!-- end .entry-body -->

    </li>

    @*<li>
            <object width="300" height="360"><param name="movie" value="https://images.elance.com/media/flash/widget/profile/profile-widget-300.swf?userId=6602766&catId=&defaultTab=0&rid=434OS"></param><param name="allowFullScreen" value="false"></param><param name="allowscriptaccess" value="always"></param><embed src="https://images.elance.com/media/flash/widget/profile/profile-widget-300.swf?userId=6602766&catId=&defaultTab=0&rid=434OS" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="360"></embed></object>
    </li>*@
    <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" style="float: left; list-style: outside none none;" jcarouselindex="4">
        <div class="entry-meta">
            <a href="#">
                <span class="post-format link">Permalink</span>
            </a>
            <span class="date">Sep 17 2011</span>
        </div><!-- end .entry-meta -->
        <div class="entry-body">
            <a href="#single-post.html">
                <h5 class="title">Open Source Teachnologies</h5>
            </a>
            <p>Every one is contributing and preffering open source technologies as these are innovative.</p>
        </div><!-- end .entry-body -->
    </li>
</ul><!-- end .post-carousel -->