@{
    ViewBag.Title = "Training";
}

@section AdditionalMeta
{
    <title>Training ! InstepTechnologies</title>
    <meta name="title" content="Trainings | InStep Technologies" />
    <meta name="keywords" content="AngularJS, KnockOutJS, d3JS, ExpressJS, Oracle,.NET, MVC, WCF, Web API, Corporate Training, MS SQL Server, MongoDB, MySQL, Classic ASP, Entity Framework, CouchBase" />
    <meta name="description" content="InStep Technologies offer application development and maintainence of modern and legacy application through our skilled teams and offshore deve;lopment centers. Our teams a mix of telented managers, business analysts and our dedicated teams led by telented and intellegent leaders. We offer our development" />
}
<header class="page-header">

    <h1 class="page-title">Training</h1>

</header><!-- end .page-header -->
<p>
    <span class="dropcap">W</span>e have seen drastic change in technology and We also witnessed some bitter moments when company fire thier<br />
    employees because the lack of modern technical skills and it also impact the company many way, their existing <br />
    employees lose thier confindence and moral of team went down and new employees scared to join as the repo of the<br />
    company is not good in the market. So after seeing some companies and frustrated employees. We offer this service. We have <br />
    very skilled programmers with great experience and excellent communication skills and these can be the life saver for your<br />
    company and employees. We offer corporate training in- house and online on following technologies:
    <br /><br />
    <ul class="arrow dotted">
        <li>Java script libraries (AngularJS, BackboneJS, KnockoutJS and Jquery)</li>
        <li>No Sql Databases (MongoDB and Couchbase)</li>
        <li>ASP.net, C# and Sql server</li>
        <li>HTML5 and CSS3</li>
    </ul>
</p>
<div style="width:940px;">

    <h4>We provide training on following technologies</h4>

    <span class="acc-trigger">
        <a href="#">Angular Js</a>
    </span>

    <div class="acc-container">
        <div class="content">
            InStep Technologies offer industrial training on modern web technologies using angularJs. <br />
            We have corporate trainers having more than 10 years of industrial experience and worked with the best companies in the world<br />
            We offer in premises and online courses. <a href="~/Home/trainingangularjs">Read more...</a>
            <br /><br />
            <ul class="arrow dotted">
                <li>AngularJs Bsics</li>
                <li>MVC</li>
                <li>Single Page application</li>
                <li>Testing of ANgular Application</li>
            </ul>
        </div>
    </div><!-- end .acc-container -->

    <span class="acc-trigger">
        <a href="#">Modern Web Development (MEAN Stack)</a>
    </span>

    <div class="acc-container">
        <div class="content">
            We have witnessed a drastic change in technologies within last 5 years. We have seen the Relational Databased Management Systems are<br />
            replaced by modern object based or NSQL databases. Now javascript can also handel the server side. Complex logics are handeled on client <br />
            side and applications are more attractive, performance oriented and scalable. We offer training on modern web development. We have specialized<br />
            courses on the latest most technologies. We dont have the trainer who only teach you from the books. Our trainer are hardcore developers who<br />
            in this industry for last 10 years and they work on these technologies in thier day to day life. You can see what they had done so far with <br />
            these technologies. We will teach you somthing which you can never learn from book or any training institutes and we will also let you work on<br />
            the live projects. <a href="~/Home/trainingMean">Read more...</a>

            <br /><br />
            <ul class="arrow dotted">
                <li>AngularJs</li>
                <li>BackboneJs</li>
                <li>MongoDB</li>
                <li>CouchDB</li>
                <li>ExpressJs</li>
                <li>NodeJS</li>
                <li>HTML5 + CSS3</li>
                <li>Phone GAP</li>
            </ul>
        </div>
    </div><!-- end .acc-container -->

    <span class="acc-trigger">
        <a href="#">Microsoft Development Stack</a>
    </span>

    <div class="acc-container">
        <div class="content">
            We have proven 10 years of experience in Microsoft technologies. We have served mid to large enterprises, and  we have expertise<br />
            in Microsoft Technologies. We have completed saveral enterprise application and still maintaining these. We have worked with worlds<br />
            best companies.Our trainers have worked with worlds best companies and providing thier services. We have worked with various design<br />
            patterns and Coding strandards and the best practices we can teach better from anywhere. We code for performance and we can tech you <br />
            the best in the industries. We have created this training programs for the people who really want to do learn development in a month.<br />
            We have specialized couse for you. <a href="~/home/trainingMicrosoft">Read more...</a>
            <br /><br />
            <ul class="arrow dotted">
                <li>Web Development Basics</li>
                <li>Asp.net(Web Forms, MVC)</li>
                <li>Server side scripting with C#/ VB.net</li>
                <li>Microsoft Sql server 2012</li>
                <li>Windows Communication Foundation</li>
                <li>Windows Presentation Foundation(Silverlight, RIA)</li>
                <li>Windows Workflow Foundation</li>
            </ul>

        </div>
    </div><!-- end .acc-container -->
    
</div><!-- end .one-fourth -->


<div class="clear"></div>

<hr />

<div class="one-fourth">



</div><!-- end .one-fourth -->

<div class="one-fourth">



</div><!-- end .one-fourth -->

<div class="one-fourth">



</div><!-- end .one-fourth -->

<div class="one-fourth last">



</div><!-- end .one-fourth.last -->