@{
    ViewBag.Title = "Training";
}

@section AdditionalMeta
{
    <title>Training - AngularJs ! InstepTechnologies</title>
    <meta name="title" content="Trainings | InStep Technologies" />
    <meta name="keywords" content="AngularJS, KnockOutJS, d3JS, ExpressJS, Oracle,.NET, MVC, WCF, Web API, Corporate Training, MS SQL Server, MongoDB, MySQL, Classic ASP, Entity Framework, CouchBase" />
    <meta name="description" content="InStep Technologies offer application development and maintainence of modern and legacy application through our skilled teams and offshore deve;lopment centers. Our teams a mix of telented managers, business analysts and our dedicated teams led by telented and intellegent leaders. We offer our development" />
}
<article class="single-project">

    <header class="page-header">

        <hr />

        <h2 class="project-title">Training - Angular JS</h2>

        <ul class="portfolio-pagination" style="display:none;">
            <li class="prev"><a href="#" class="button medium no-bg"><span class="arrow left">&raquo;</span> Previous</a></li>
            <li class="next"><a href="#" class="button medium no-bg">Next <span class="arrow">&raquo;</span></a></li>
        </ul><!-- end .portfolio-pagination -->

    </header><!-- end .page-header -->

    <div id="main">
    
        <h4>Overview</h4>

        <p>Become an angular JS expert with us. We offer a must have traing on various aspects of angularJS.</p>

        <p>We offer in premises and online course on angular JS. We will help you to enhance your skills and crack interview and assist you in your placement. Special discount for engineering students for 6 month industrial traing. Foe our corporate trainees we offer weekend classes. Please contact us for more details.</p>

        <h4>Course Composition</h4>

        <h5>Angular Basic</h5>

        <ul class="check">
            <li>Overview of AngularJS concepts</li>
            <li>Hello world!</li>
            <li>Using the built-in directives for dynamic views</</li>
            <li>HTML forms and form validation</</li>
            <li>Creating and using AngularJS filters</</li>
            <li>Using Controllers, Scopes and View Templates</li>
            <li>Modules, services and the dependency injection mechanism</li>
        </ul>
       <h5>Advance Concepts</h5>
        <ul class="check">
            <li>Creating custom providers</li>
            <li>Single-page apps, using the AngularJS routing framework</li>
            <li>Communicating with the backend using the $http and $resource services</li>
            <li>Animations </li>
            <li>Use of Scope in connection with the directives</li>
            <li>Implementation of directive controllers and how a directive may expose an API</li>
            <li>Transclusion</li>
            <li>Typical "design patterns" related to directives, in particular the creation of complete "Widgets"</li>
            <li>Testing of directives</li>
        </ul>
        <p>
            <a href="~/Home/contact" class="button">Contact Us for more details</a>
        </p>

    </div><!-- end #sidebar -->

</article><!-- end .single-project -->
